@font-face {
    font-family: 'Arcade';
    src: url('ARCADE_I.TTF') format('truetype');
}



body {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

#container {
    display: grid;
    grid-template: 1fr/1fr;
    height: 100vh;
    align-items: center;
}

#moment {
    position: relative;
    color: white;
    background-color: blue;
    justify-self: center;
    font-size: 100px;
    font-family: 'Arcade', 'Oswald';
    /* Arcade will be used if available, otherwise Oswald */
    text-shadow: 2px 2px 5px black;
    bottom: 200px;
    left: 25px;
}